

body {
  margin: 0;
  padding: ;
  font-family: Arial, Sans-Serif;
  background-color: grey;
}
/* Navbar */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 50px;
  
  gap: 100px;
}
.a-navbar {
  color: white;
  text-decoration: none;
  font-weight: 1000;
}
.a-navbar:hover {
  background-color: white;
}
/* Navbar selasai */

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
  width: 100%;
  margin-top: 20px;
}
button {
  margin: 10px;
  padding: 10px 20px;

  font-size: 20px;
}
#soal {
  width: 100%;
  text-align: center;
  padding: 15px;
  margin-right: 20px;
  margin-left: 20px;
  
  background-color: black;
  color: white;
}
#hasil {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}
#jawaban {
  text-align: center;
  background-color: black;
  color: white;
  padding: 15px;
}
#button {
  width: 100px;
  height: 50px;
  
  font-size: 15px;
  text-align: center;
  
  border-radius: 15px;
}